{% extends "main/layout.html" %}

{% block content %}
{% if posts %}
<div class="container mb-3">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-6">
                            {{ post.author }}
                        </div>
                        <div class="col-md-6 text-right">
                            <button style="background: transparent" data-liked="{% if request.user in post.likes.all %}true{% else %}false{% endif %}" class="like-btn" id="like-btn-{{ post.id }}" data-post-id="{{ post.id }}" >
                                <i class="fas fa-heart"></i> <span id="like-count-{{ post.id }}">{{ post.likes.all.count }}</span>
                            </button>
                            &nbsp;&nbsp;
                            <i class="fas fa-comment"></i> {{ post.comments.all.count }}
                            &nbsp;&nbsp;
                            <!-- Добавляем иконку удаления -->
                            <a href="{% url 'delete_post' post.id %}" class="delete-post-link">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% else %}
<p>No posts available.</p>
{% endif %}
{% endblock %}